{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemoriesGallery</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgets.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    

    <script src="{% static 'js/ajax.js' %}" defer></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/navbar.js' %}" defer></script>
    <script src="{% static 'js/animations.js' %}" defer></script>
    <script src="{% static 'js/utils.js' %}" defer></script>
    <script src="{% static 'js/search.js' %}" defer></script>
    <script src="{% static 'js/gallery.js' %}" defer></script>
    <script src="{% static 'js/forms.js' %}" defer></script>
    <script src="{% static 'js/profile.js' %}" defer></script>
    <script src="{% static 'js/memory.js' %}" defer></script>

</head>
<body>

	<header class="header">
        <div class="logo">
            <h1>MemoriesGallery</h1>
        </div>
        <div class="user-info">
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}! <a href="{% url 'multimedia:logout' %}">logout</a></p>
            {% else %}
	    	<a href="{% url 'multimedia:login' %}">login</a> | <a href="{% url 'multimedia:signup' %}">signup</a>
            {% endif %}
        </div>
    </header>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/albums/">Albums</a></li>
            <li><a href="/profile/">Profile</a></li>
        
        </ul>
    </nav>
    <main class="main">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <p>&copy; 2023 MemoriesGallery. All rights reserved.</p>
    </footer>
</body>
</html>
