{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h2>Login to MemoriesGallery</h2>
    <form class="login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="button">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
